<h1>Feature Transformation Technique Apply</h1>

In [ ]:
li = [100, 200, 150, 300, 180]

In [2]:
li

[100, 200, 150, 300, 180]

In [3]:
import pandas as pd
df = pd.DataFrame(li, columns=['cost'])
df

   cost
0   100
1   200
2   150
3   300
4   180

<h1>Techniques to perform feature transformation</h1>
<h5>Normalization</h5>
<h5>Standardization</h5>
<h5>Log Transformation</h5>
<h5>Robust Scaler</h5>
<h5>Max Absolute Scaling</h5>

<h4>Normalization(Min-Max Scaler)</h4>

In [4]:
min_cost = df['cost'].min()
max_cost = df['cost'].max()

In [5]:
min_cost

100

In [6]:
max_cost

300

In [7]:
df['cost_norm_manual'] = (df['cost'] - min_cost) / (max_cost - min_cost)

In [8]:
df

   cost  cost_norm_manual
0   100              0.00
1   200              0.50
2   150              0.25
3   300              1.00
4   180              0.40

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
mmx = MinMaxScaler()

In [12]:
df['cost_norm_sklearn'] = mmx.fit_transform(df[['cost']])

In [13]:
df

   cost  cost_norm_manual  cost_norm_sklearn
0   100              0.00               0.00
1   200              0.50               0.50
2   150              0.25               0.25
3   300              1.00               1.00
4   180              0.40               0.40

<h4>Standardization (StandardScaler)</h4>

In [14]:
mean_cost = df['cost'].mean()
std_cost = df['cost'].std()

In [15]:
mean_cost

186.0

In [16]:
std_cost

74.02702209328699

In [17]:
df['cost_std_manual'] = (df['cost'] - mean_cost) / std_cost

In [18]:
df

   cost  cost_norm_manual  cost_norm_sklearn  cost_std_manual
0   100              0.00               0.00        -1.161738
1   200              0.50               0.50         0.189120
2   150              0.25               0.25        -0.486309
3   300              1.00               1.00         1.539978
4   180              0.40               0.40        -0.081051

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
ss = StandardScaler()

In [21]:
df['cost_std_sklearn'] = ss.fit_transform(df[['cost']])

In [22]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn
0,100,0.00,0.00,-1.161738,-1.298863
1,200,0.50,0.50,0.189120,0.211443
2,150,0.25,0.25,-0.486309,-0.543710
3,300,1.00,1.00,1.539978,1.721748
4,180,0.40,0.40,-0.081051,-0.090618

<h4>Log Transformation</h4>

In [25]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [26]:
fc = FunctionTransformer(np.log1p)

In [27]:
df['cost_fc'] = fc.fit_transform(df[['cost']])

In [28]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_fc
0,100,0.00,0.00,-1.161738,-1.298863,4.615121
1,200,0.50,0.50,0.189120,0.211443,5.303305
2,150,0.25,0.25,-0.486309,-0.543710,5.017280
3,300,1.00,1.00,1.539978,1.721748,5.707110
4,180,0.40,0.40,-0.081051,-0.090618,5.198497

In [29]:
df['fc_np'] = np.log1p(df['cost'])

In [30]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_fc,fc_np
0,100,0.00,0.00,-1.161738,-1.298863,4.615121,4.615121
1,200,0.50,0.50,0.189120,0.211443,5.303305,5.303305
2,150,0.25,0.25,-0.486309,-0.543710,5.017280,5.017280
3,300,1.00,1.00,1.539978,1.721748,5.707110,5.707110
4,180,0.40,0.40,-0.081051,-0.090618,5.198497,5.198497

<h4>Robust Scaler</h4>

In [31]:
from sklearn.preprocessing import RobustScaler

In [32]:
rs = RobustScaler()

In [33]:
df['cost_rs_sklearn'] = rs.fit_transform(df[['cost']])

In [34]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_fc,fc_np,cost_rs_sklearn
0,100,0.00,0.00,-1.161738,-1.298863,4.615121,4.615121,-1.6
1,200,0.50,0.50,0.189120,0.211443,5.303305,5.303305,0.4
2,150,0.25,0.25,-0.486309,-0.543710,5.017280,5.017280,-0.6
3,300,1.00,1.00,1.539978,1.721748,5.707110,5.707110,2.4
4,180,0.40,0.40,-0.081051,-0.090618,5.198497,5.198497,0.0

<h4>Max Absolute Error</h4>

In [35]:
max_x = df['cost'].max()

In [36]:
max_x

300

In [37]:
df['cost_mae_manual'] = df['cost'] / max_x

In [38]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_fc,fc_np,cost_rs_sklearn,cost_mae_manual
0,100,0.00,0.00,-1.161738,-1.298863,4.615121,4.615121,-1.6,0.333333
1,200,0.50,0.50,0.189120,0.211443,5.303305,5.303305,0.4,0.666667
2,150,0.25,0.25,-0.486309,-0.543710,5.017280,5.017280,-0.6,0.500000
3,300,1.00,1.00,1.539978,1.721748,5.707110,5.707110,2.4,1.000000
4,180,0.40,0.40,-0.081051,-0.090618,5.198497,5.198497,0.0,0.600000

In [40]:
from sklearn.preprocessing import MaxAbsScaler

In [41]:
mas = MaxAbsScaler()

In [42]:
df['cost_mae_sklearn'] = mas.fit_transform(df[['cost']])

In [43]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_fc,fc_np,cost_rs_sklearn,cost_mae_manual,cost_mae_sklearn
0,100,0.00,0.00,-1.161738,-1.298863,4.615121,4.615121,-1.6,0.333333,0.333333
1,200,0.50,0.50,0.189120,0.211443,5.303305,5.303305,0.4,0.666667,0.666667
2,150,0.25,0.25,-0.486309,-0.543710,5.017280,5.017280,-0.6,0.500000,0.500000
3,300,1.00,1.00,1.539978,1.721748,5.707110,5.707110,2.4,1.000000,1.000000
4,180,0.40,0.40,-0.081051,-0.090618,5.198497,5.198497,0.0,0.600000,0.600000